<html>
  <head>
    <title>JusBrasil - Busca de Processos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body class="bg">
  <div>
    <div class="options">
      <ul>
        <li class="dados-gerais" onclick="hideTransactions()"><a>Ver dados gerais</a></li>
        <li class="movimentacoes" onclick="showTransactions()"><a>Ver movimentações</a></li>
      </ul>
    </div>

      <div class="data-table" id="data-table">
          <%- processData %>
      </div>

      <div class="transactions-table" id="transactions-table">
          <%- transactions %>
      </div>
      <script>
        var tables = document.getElementsByTagName("table");
        for(var i = 0; i< tables.length; i++){
          tables[i].classList.add("table");
          tables[i].classList.add("thead-light");
          tables[i].classList.add("table-bordered");
          tables[i].classList.add("data-table");
          tables[i].classList.add("table-responsive");
          tables[i].classList.add("table-sm");
        }

        tables[1].classList.add("hide-table");
        
      </script>
      <script>
        function showTransactions(){
            var data = document.getElementById("data-table");
            var transactions = document.getElementById("transactions-table");

            transactions.classList.remove("hide-table");
            data.classList.add("hide-table");
        }

        function hideTransactions(){
            var data = document.getElementById("data-table");
            var transactions = document.getElementById("transactions-table");

            data.classList.remove("hide-table");
            transactions.classList.add("hide-table");
        }

        hideTransactions();
      </script>
    </div>
  </body>
</html>
